.hashtag {
    color: rgb(217, 0, 246);
}
.navbar{
    width: 100%;
    padding-block: 20px;
    padding-inline: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu {
    display: flex;
}

.main-menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/*za toggle padajuceg menija*/
.theme-toggle {
    background: none;
    border: none !important;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-text-color);
    transition: 0.3s;
  }
  
  .theme-toggle:hover {
    background-color: #484f5d;
    color: #fff;
  }
  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--main-text-color);
  }
  body.dark-mode .main-menu.open, body.dark-mode{
    background-color: #0f1012;
  }
  body.dark-mode .navbar{
    background-color:#0f1012;
  }
  body.dark-mode .navbar a{
    color: white;
  }
  body.dark-mode .hamburger, body.dark-mode{
    color: white;
  }
  @media(max-width:1150px){
    .main-menu-list{
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
    .hamburger {
      display: block;
    }
    .navbar{
      z-index: 200 !important;
      padding-inline: 0px;
    }
    .navbar .container{
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .main-menu {
      display: none;
      position: absolute;
      top: 76px;
      left: 0;
      background-color: #fff;
      opacity: 0.9;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      flex-direction: column;
      width: 100%;
      text-align: center;
      padding-block: 35px;
      z-index: 99;
    }
  
    .main-menu.open {
      display: flex;
    }
  
    .main-menu-list {
      flex-direction: column;
      gap: 10px;
    }
  }